/* Reset browser styles */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  line-height: 1.5;
  color: #333333;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  max-width: 500px;
  margin:  0 auto;
  padding: 0 20px;
}

/* Header */
.section-header{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #333333;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-align: center;
}

/* Pet Form Section */
form {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

input[type=button]{
    border: 1px solid #333333;
    background-color: #333333;
    color: #fff;
    cursor: pointer;
}

.profa-section{
  display: none; /* hidden by default */
}
.noobs-section{
  display: none; /* hidden by default */
}
.votacao-section{
  display: none; /* hidden by default */
}

.section-footer{
  display: flex;
  gap: 12px;
}

button{
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;

  border: 1px solid #333333;
  background-color: #333333;
  color: #fff;
  cursor: pointer;
}

.membros-section {
  margin-bottom: 10px;
}

.div-membro {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-bottom: 3px;
  font-size: 13px;
  font-weight: bold;
}

.membro-code { grid-area: 1 / 1 / 2 / 5; border-radius: 5px; border: 1px solid #333333;}
.membro-votos { grid-area: 1 / 5 / 2 / 6; border-radius: 5px; border: 1px solid #333333; text-align: center;}


.botoes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
  
.bt1 { grid-area: 1 / 1 / 2 / 2; margin-right: 3px;}
.bt2 { grid-area: 1 / 2 / 2 / 3; margin-left: 3px;}